.title{
    font-size: 100px;
}
@media (max-width:629px) {
    .title{
     font-size: 50px;
    
    }
    }
.This img{
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
