.title{
    font-size: 100px;
}
@media (max-width:629px) {
    .title{
     font-size: 50px;
    
    }
    }
.This img{
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.This strong {
   
    font: initial;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.7rem;
    font-size: inherit;
    font-weight: bold;
}
